<!-- Este es un form, lo de input type = es el tipo de valor que se agarra, el name y el id lo puede ignorarlo -->
<!-- El ng-model es el tipo de dato con el que se esta relacionando del modelo, esto es lo mas importante de esta parte-->
<!-- es importante que ng.model tenga el mismo nombre que se espera en el rest api -->
<!-- El span se muestra si se omite una entrada del formulario --> 


<div id="main">

        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">Dr Phischel</a>
                </div>

              <ul class="nav navbar-nav navbar-right">
                <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#/patient"><i class="fa-user-plus"></i> Pacientes</a></li>
                <li><a href="#/appointment"><i class="fa fa-hospital-o"></i> Citas</a></li>
                <li><a href="#/record"><i class="fa fa-file-text"></i>Historial Médico</a></li>
                <li><a href="#/order"><i class="fa fa-paper-plane-o"></i></a>Ordenar</li>
                <li><a href="#/newDoctor"><i class="fa fa-user-md" ></i></a>Nuevo Doctor</li>    
                <li><a href="#/login"><i class="fa fa-sign-out"></i>Cerrar Sesión</a></li>  
              </ul>
            </div>
        </nav>

    <div class="col-md-6 col-md-offset-3">

        <div>
            <br>
            <h3 align="center" class="lead">Crea un pedido de medicamentos para Farmatica</h3>

            <label>Escoge tu sucursal más cercana</label>
            <select ng-model="selectedBranch" ng-options="x.Name for x in branches"/>

            <button class="btn btn-info" > Seleccionar sucursal</button>  
            <br>
        </div>   

        
    <div ng-show="branchSelected">
        <form name="form" ng-submit="createOrder()" role="form" novalidate>


            <div class="form-group" ng-class="{ 'has-error': form.clientId.$dirty && form.clientId.$error.required }">
                <label >Cliente (Número de Cédula)</label>
                <input type="text" name="clientId"  class="form-control" ng-model="order.clientId" required />
                 <span ng-show="form.clientId.$dirty && form.clientId.$error.required" class="help-block">El número de cédula del cliente es requerido</span>
            </div>

            <div class="form-group" ng-class="{ 'has-error': form.prefPhoneNumber.$dirty && form.prefPhoneNumber.$error.required }">
                <label >Teléfono Preferido</label>
                <input type="text" name="prefPhoneNumber"  class="form-control" ng-model="order.prefPhoneNumber" required />
                 <span ng-show="form.prefPhoneNumber.$dirty && form.prefPhoneNumber.$error.required" class="help-block">El teléfono preferido es requerido </span>
            </div>

            
        <div class="form-group" >
            <label>Medicinas</label>
            <div class="action-checkbox" ng-repeat="medicine in medicines">
               <input id="{{medicine.Name}}" type="checkbox" value="{{medicine.Name}}" ng-checked="selection.indexOf(medicine.MedicineId) > -1" ng-click="toggleSelection(medicine.MedicineId)" />
               <label for="{{medicine.Name}}">           
                   {{medicine.Name}}
               </label>                
            </div>
        </div>

            <div class="form-group"ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }" >
                <label>Fecha de Recojo</label>
                <input type="text" name="pickUpdDate" class="form-control" ng-model="order.pickupdDate" required />
                 <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">La fecha de recojo es requerido</span>
            </div>

            <div class="form-actions">
                <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Crear Pedido</button>
                <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                <a href="#/login" class="btn btn-link">Cancelar</a>
            </div>
        </form>
    </div> 
    </div>

</div>